.skill small.small {
    font-size: 0.75rem;
    margin: 5px 0 36px;
    display: block;
    font-style: italic;
}

.skill .h5 {
    font-size: 1.12rem;
}

.portfolio .h5 {
    font-size: 1.3rem;
}

.portfolio .h5 b {
    font-size: 2.1rem;
}

.portfolio {
    padding-bottom: 50px;
    margin-bottom: 40px;
    padding-top: 16px;
    border-bottom: 1px solid #e8f4f4;
}

.portfolio:last-child {
    border-bottom: none;
}

.portfolio .description {
    font-size: 0.8rem;
    margin: 5px 0 22px;
}

.portfolio a {
    font-size: 0.88rem;
    color: rgb(0, 47, 255);
}

.portfolio a:hover {
    border-bottom: 1px solid;
}

.portfolio .credentials {
    font-size: 0.8rem;
    padding: 10px 30px 10px 8px;
    border: 1px solid white;
    border-radius: 3px;
    display: inline-block;
}

.portfolio .credentials i {
    font-size: 1.1rem;
    margin-right: 20px;
    display: inline-block;
    margin-top: 6px;
}
