.skill small.small {
    font-size: 0.75rem;
    margin: 5px 0 36px;
    display: block;
    font-style: italic;
}

.skill .h5 {
    font-size: 1.12rem;
}

.portfolio {
    padding-bottom: 30px;
    margin-bottom: 32px;
    border-bottom: 1px solid #e8f4f4;
}

.portfolio:last-child {
    border-bottom: none;
}

.portfolio .description {
    font-size: 0.784rem;
}

.portfolio a {
    font-size: 0.9rem;
    color: black;
    margin-right: 10px;
}

.portfolio a:hover {
    border-bottom: 1px solid;
}
