{{ $skills := .Site.Data.skills }}

<section id="skills" class="aqua text-light">
    <h2 class="heading">{{ $skills.title }}</h2>
    <p>{{$skills.description}}</p>

    {{ range $key, $value := $skills.skills }}

    <div class="skill">
        <span class="h5">{{ $key }}</span>
        <small class="small">{{ $value.detail }}</small>
        <!-- <div class="progress"> -->
            <!-- <div
                class="progress-bar bg-blue"
                role="progressbar"
                style="width: {{ $value.level }}%"
                aria-valuenow="10"
                aria-valuemin="0"
                aria-valuemax="100"
            ></div> -->
        <!-- </div> -->
    </div>
    {{ end }}
</section>
